* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
}
.container {
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 400xp;
}
h2 {
  text-align: center;
  margin: 0 0 20px;
}
.form {
  padding: 30px 40px;
}

.form-controll {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
.form-controll label {
  color: #777;
}
